.MuiTreeView-root .MuiTreeItem-label {
    /* background-color: aqua; */
    /* color: red; */
    /* width: 430px; */
    /* width: auto; */
}

.MuiTreeItem-content {
    color: purple;
    width: auto;
}

.treebutton {
    background: none !important;
    border: none;
    padding: 0 !important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    cursor: pointer;
}

.linkItem {}